<table class="table">
  <thead>
  <tr>
    <th scope="col">Original value</th>
    <th scope="col">Pipe name</th>
    <th scope="col">After pipe</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ stringVariable }}</td>
    <td>uppercase</td>
    <td>{{ stringVariable | uppercase }}</td>
  </tr>
  <tr>
    <td>{{ stringVariable }}</td>
    <td>titlecase</td>
    <td>{{ stringVariable | titlecase }}</td>
  </tr>
  <tr>
    <td>{{ birthday }}</td>
    <td>date:'short'</td>
    <td>{{ birthday | date:'short' }}</td>
  </tr>
  <tr>
    <td>{{ jsonObject }}</td>
    <td>json</td>
    <td>{{ jsonObject | json }}</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
  <tr>
    <td>{{ kebabCaseVariable }}</td>
    <td>snake-case</td>
    <td>{{ kebabCaseVariable | snakeCase }}</td>
  </tr>
  </tbody>
</table>

<hr>

<div>
  <h2>
    *ngFor:
  </h2>
  <ul>
    <li *ngFor="let person of persons">
      {{ person }}
    </li>
  </ul>
</div>

<div>
<h2>
  *ngIf:
</h2>
  <span *ngIf="isAuthenticated">User is authenticated.</span>
</div>

<span appChangeText>This is text from span.</span>
